streamlit
folium==0.19.5
matplotlib==3.7.1
matplotlib-inline==0.1.6
numpy==1.26.4
pandas==2.2.3
pandas-datareader==0.10.0
pipenv==2024.4.1
streamlit==1.42.2
streamlit_folium==0.24.0
folium==0.19.5
seaborn==0.12.2
